.attack-name::first-letter{
	text-transform: uppercase;
}
.attack-name{
	display: block;
}
.attack-click{
	cursor: pointer;
}
.attack-click:hover{
	border-color: #bce8f1; 
	background-color: #d9edf7;
}